/*---------- Layout  ----------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Staatliches', cursive;
    background-color: #ffe7d1;
}
a:visited {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    margin: 0 0 1.25rem;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.125rem;
    text-align: center;
    margin-bottom: 3px;
    color: #b52a2a;
    text-shadow:2px 2px 10px #ffa600;
}

button {
    cursor: pointer;
}

canvas {
    border: 1px solid rgba(0, 0, 0, 0.815);
    border-radius: 10px;
}

header {
    height: 3.2rem;
    color: #fff;
    font-family: latobold, sans-serif;
    background-color: rgba(231, 93, 93, 0.85);
}

header .header-wrapper {
    height: 2.8rem;
    font-family: 'Staatliches', cursive;
}

header .logo {
    padding: 0 1.25rem;
    font-size: 30px;
    font-family: 'Fascinate Inline', cursive;
    transition: .2s;
    text-decoration: none;
}
.logo:hover {
    color: #ffe500;
}

section .header-title {
    grid-area: 1 / 1 / 1 / 6;
    align-self: center;
    display: block;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

@media (max-width: 980px) {
    .container {
        max-width: 740px;
    }
}

@media (max-width: 740px) {
    .container {
        max-width: 100%;
    }
}

.editor {
    border: 1px solid #000;
    border-radius: 10px;
    margin-left: 20px;
    width: 100%;
}


.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    line-height: 4.25rem;
    height: 3.8rem;
    width: 8.4375rem;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    transition: .2s;
}


.main-menu a.active {
    border-bottom: 4px dotted #ffe500ba;
    color: #ffc800;
}

.main-menu a:hover {
    color: #ffe500;
}

@media (max-width: 740px) {
    .main-menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 300;
        background: #292929;
        height: 100vh;
        transition: transform 1s;
        transform: translate(100%, 0);
    }

    .open .main-menu {
        transform: translate(0, 0);
    }

    .main-menu a {
        height: auto;
        line-height: 1;
        padding: 20px 0;
        width: 60vw;
        border: none;
        border-bottom: 1px solid #1e1e1e;
    }

    .main-menu a.active {
        border-width: 1px;
    }
}

.main-wrapper {
    border-right: 1px solid #f5c091;
    border-left: 1px solid #f5c091;
    padding: 10px 20px;
}

.main-wrapper .first-panel {
    width: 100%;
}

@media (max-width: 980px) {
    .main-wrapper .first-panel {
        width: 100%;
        column-count: 1;
        column-gap: 20px;
    }
    .main-wrapper.editor-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    #canvas{
        margin-bottom: 0.70rem;
    }
    .editor{
        margin: 0;
        border: none;
        width: 79%;
    }
}

@media (max-width: 550px) {
    .main-wrapper .first-panel {
        column-count: 1;
        column-gap: 0;
    }
}


.main-pager {

    border-right: 1px solid #f5c091;
    border-left: 1px solid #f5c091;
    padding: 0.5rem;
    border-top: 1px solid #f5c091;
    color: #b52a2a;
}

.main-pager button {
    font-family: 'Amatic SC', cursive;
    background: none;
    border: none;
    font-size: 2.125rem;
    text-shadow:1px 1px 10px #ffa600;

    text-transform: uppercase;
    color: inherit;
    padding: 0;
}

.main-pager button:hover {
    color: #ffa600;
}

.main-pager .prev::before {
    content: "← ";
}

.main-pager .next::after {
    content: " →";
}

/*---------- Editor || Canvas  ----------*/

.editor {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    text-align-last: center;
}

.txt-input {
    border-radius: 50px;
    width: 90%;
    justify-self: center;
    outline: none;
    font-size: 1.5rem;
    margin-top: 2rem;
    grid-area: 1 / 1 / 1 / 6;
}

.txt-func {
    margin-top: 2rem;
    grid-area: 2 / 2 / 2 / 5;
    margin-top: 0.75rem;
}

.txt-editor {
    margin-top: 2rem;
    grid-area: 3 / 1 / 3 / 6;
    margin-top: 0;
}

.txt-style {
    margin-top: 2rem;
    grid-area: 4 / 1 / 4 / 6;
    margin-top: 0;
}

.icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;

}


/*---------- Images  ----------*/
.images-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 1rem;
    height: 80vh;
}

.image-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
    border-radius: 5px;
}
.image-item:hover{
    box-shadow:4px 4px 10px #ffa600;
    height: 101%;
}

@media (max-width: 980px) {
    .images-wrapper {
        grid-template-columns: repeat(3, 1fr);
        
    }
    .image-item:hover{
        height: 100%;
    }
}

@media (max-width: 560px) {
    .main-wrapper .first-panel {
        column-count: 1;
        column-gap: 0;
    }
    .images-wrapper {
        grid-template-columns: repeat(2, 2fr);
    }
}

/*---------- flex || grid || util  ----------*/
.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-col {
    flex-direction: column
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.grid {
    display: grid;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}